body
{
    color: white;
    background: linear-gradient(blue 30%,green 70%);
}
.heading
{
    width: 80% ;
    font-size: 22px;
}
#camera
{
    border: 2px dashed gold;
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name , #result_object_accuaracy
{
    color: khaki;
}